Package: com.abart997.labelslide
Name: LabelSlide
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Customize your label slide
Maintainer: Andrea Oliva
Author: Andrea Oliva
Section: Tweaks
